/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
/* fin du reset */

.clear {
	clear: both;
}

body{
	background-color: background: #2981ce;
background: -moz-linear-gradient(top,  #2981ce 4%, #2989d8 42%, #85c6f7 85%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#2981ce), color-stop(42%,#2989d8), color-stop(85%,#85c6f7));
background: -webkit-linear-gradient(top,  #2981ce 4%,#2989d8 42%,#85c6f7 85%);
background: -o-linear-gradient(top,  #2981ce 4%,#2989d8 42%,#85c6f7 85%);
background: -ms-linear-gradient(top,  #2981ce 4%,#2989d8 42%,#85c6f7 85%);
background: linear-gradient(to bottom,  #2981ce 4%,#2989d8 42%,#85c6f7 85%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2981ce', endColorstr='#85c6f7',GradientType=0 );

}

#page {
	margin:auto;
	min-width: 960px;
	width:80%;
	max-width: 1300px;
	border:1px red solid;
	background-color: #FFFFFF;
	
}

/*/////////////////// HEADER/////////////////////*/
li {
	/*display: inline;
	width:200px;*/
	
}

.menu {
	margin:auto;
	padding:1.5% 0;
	width: 19%;
	display: block;
	float: left;
	border:1px red solid;
	text-align: center;
}



/*li a:first{
	margin-left: 300px;
}
*/
ul{
	margin-left: 10%;
}	

li a{	
	list-style-type:none;
	text-decoration: none;
	display: block;
	//margin-right: 10px;
	//padding: 10px;

}

#bandeau + form {
	text-align: right;
	margin-bottom: 100px;
}



#bandeau{
	width:auto;
	height:110px;
	background: #efeff4 url(edd.png) no-repeat; 
	height: 110px;
	width: 100%;
	//border: solid green 1px;
	position: relative;
	
}

#content {
	padding-top: 100px;
}

/*///////////////////// INDEX ///////////////////////////////*/

#present{
	margin: 70px 15%;
	text-align: left;
	border: solid 1px red;
}

#barre_recherche {
	border: solid black 1px;
	margin: 100px auto;
	width:800px;
	//height:200px;
	padding:20px;
	background-color: #efeff4;
}

select{
	width:200px;
	//padding-left: 60px ; 
	margin: 0 30px 0 10px; 
	
}

option{
	width:100%;
	background-color: #efeff4;
	border: solid 1px black;
	padding:10px;
	padding-left: 60px;
}	

#recherche{		
	padding: 10px;
	position: relative;
	top: 10px;
	background-color: #ff9500;
	border: 1px solid #ff9500;

}

#recherche:hover {
	box-shadow:1px 1px 5px #FFFF00 inset;
		-moz-box-shadow:1px 1px 5px #FFFF00 inset;
		-webkit-box-shadow:1px 1px 5px #FFFF00 inset;
}


/*/////////////////FORMULAIRE////////////////*/

/* message d'erreur du formulaire*/
.erreur{
	display: none;
	color: red;
	padding-left: 30px;
}

/*//////////////////MON COMPTE/////////////////*/

.haut a{
	display: block;
}

/*//////////////////ACTIVITES////////////////////*/
/*#hr1, #hr2{
	display: inline-block;
	position: relative;
	bottom: 3px;
	color: red;
}

#hr1 {
	width:10.5%;
	margin:0 1.5% 0 5%;
}

#hr2 {
	width: 55%;
	margin:0 5% 0 1.5%;  
}*/

#aside1{
	float:left;
	margin-top: 220px;
	line-height: 50px;
	border: solid 1px black;
	padding-left: 3%;
	padding-right: 8%;
	position:relative;

}

#act{
	float:left;
	margin-left: 3%;
	margin-top: 100px;

}

#btn_activite {
	width:100%;
}

#btn_activite a {
	text-decoration: none;
	margin: 0 4%;
	padding:2%;
	border: 1px solid black;
	width:100%;
}

#btn_activite a span {
	width:100%;
}

//#age {
	position: relative;
	width:100%;
}

#act p:not(.date) {
	border: solid 1px black;
	padding: 1% 74% 4% 1.2%;
	margin: 10px;
}

#no_result {
	margin-top: 200px;
	padding-left: 35%;
	line-height: 2em;
}

p.date {
	margin-top: 40px;
}

/*////////////////////// FOOTER ///////////////////////////*/

//#footer {
	border: solid 2px yellow;
	margin-top: 1000px;
}